# ---- ANDROID ----
*.iml
.gradle/
local.properties
/.idea
.idea/
*.apk
*.aab
build/
captures/
.externalNativeBuild/
.cxx/
.DS_Store

# ---- NODEJS ----
node_modules/
npm-debug.log
yarn-error.log
.env
dist/
logs/

# Remote config
remote-config.json

# ---- GENERAL ----
*.log
*.tmp
*.swp
Thumbs.db
